.App {
    font-family: 'Raleway', sans-serif;
    display: flex;
    padding: 5%;
    color: #333333;
}

.App a {
    text-decoration: none;
    color: #333333;
}

.profileColumn {
    flex: 30%;
    text-align: center;
    margin-top: 1em;
}

.projectsColumn {
    flex: 70%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /*reverse order
    flex-wrap: wrap-reverse;*/
}

.project {
    flex: 40%;
    position: relative;
    text-align: center;
    color: white;
    margin: 5%;
}

.projectsHeader {
    flex: 100%;
}

.projectImage {
    width: 100%;
}

.projectText {
    position: absolute;
    background-color: white;
    opacity: 0;
    padding: 5%;
}

.projectInfo:hover .projectText {
    opacity: 0.9;
    transition: 0.5s;
}

.profileImage {
    width: 30%;
    border-radius: 50%;
}

.contactUrl img {
    width: 10%;
}

@media (hover: none) {
    .projectText {
        position: relative;
        opacity: 0.9;
    }
}

@media screen and (max-width: 600px) {
    .profileColumn {
        width: 100%;
    }

    .projectsColumn {
        width: 100%;
        display: inline-block;
    }

    .project {
        width: 100%;
        margin: 0;
    }

    .projectText {
        position: relative;
        opacity: 0.9;
    }

    .App {
        display: inline-block;
    }

}
